In [ ]:
%pip install --upgrade pip
%pip install mysql-connector-python sqlalchemy pandas
%pip install langchain langchain-community langchain-core
%pip install langchain-google-genai google-generativeai

In [1]:
%env GOOGLE_API_KEY=ВАШ_КЛЮЧ_СЮДА

env: GOOGLE_API_KEY=ВАШ_КЛЮЧ_СЮДА

In [4]:
# ===== AI ENGINEER — TEXT-TO-SQL AGENT =====

import os
import pandas as pd
from langchain_community.utilities import SQLDatabase
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_core.messages import SystemMessage, HumanMessage

# --- Проверяем, что ключ установлен ---
assert "GOOGLE_API_KEY" in os.environ, "Сначала запусти ячейку: %env GOOGLE_API_KEY=твой_ключ"

# --- Подключение к MySQL ---
db = SQLDatabase.from_uri(
    "mysql+mysqlconnector://root:20052005simon@localhost:3306/superstore_db"
)

schema = db.get_table_info()
print("СХЕМА ТАБЛИЦ (превью):")
print(schema[:1500])

# --- Gemini LLM ---
llm = ChatGoogleGenerativeAI(
    model="gemini-2.5-flash",
    temperature=0
)

# --- System Prompt ---
system_text = f"""
Ты — SQL-ассистент, работающий строго с синтаксисом MySQL.

Вот структура базы:
{schema}

Требования:
- Пиши ТОЛЬКО SQL-код, без текста, пояснений, markdown или обратных кавычек.
- Можно писать несколько SQL-запросов, разделённых ';', но каждый должен быть валидным.
- НЕ используй PRAGMA, sqlite_master или любые фичи SQLite.
- Используй только таблицы и поля, которые реально есть в схеме.
- SQL должен быть совместим с MySQL 5.7+ / MySQL 8.
"""

system_msg = SystemMessage(content=system_text)

# --- Базовая функция: выполняем все запросы по очереди ---
def ask(question: str):
    print("\n=== ВОПРОС ===")
    print(question)

    human_msg = HumanMessage(content=question)

    # 1. Генерация SQL через LLM
    response = llm.invoke([system_msg, human_msg])
    raw_sql = response.content.strip()

    print("\n=== СЫРОЙ SQL ОТ МОДЕЛИ ===")
    print(raw_sql)

    # 2. Режем по ';' на отдельные запросы
    statements = [s.strip() for s in raw_sql.split(";") if s.strip()]

    results = []

    for i, stmt in enumerate(statements, start=1):
        print(f"\n--- ВЫПОЛНЯЮ ЗАПРОС #{i} ---")
        print(stmt)
        try:
            res = db.run(stmt)
            print("\nРЕЗУЛЬТАТ:")
            print(res)
            results.append((stmt, res))
        except Exception as e:
            print("\n!!! ОШИБКА ПРИ ВЫПОЛНЕНИИ ЭТОГО ЗАПРОСА !!!")
            print(e)

    if len(results) == 1:
        return results[0][1]
    return results  # список кортежей (sql, результат)

# --- Красивая табличка для подсчётов (опционально) ---
def ask_pretty(question: str):
    res = ask(question)
    if not isinstance(res, list):
        print("\nОжидался список результатов (несколько запросов).")
        return res

    rows = []
    for sql, result_str in res:
        # Попробуем вытащить число из '[(793,)]'
        count = result_str
        try:
            if isinstance(result_str, str) and result_str.startswith("[("):
                count = int(result_str.split("(")[2].split(",")[0])
        except Exception:
            pass
        rows.append({"sql": sql, "value": count})

    df = pd.DataFrame(rows)
    return df

print("\n AI Text-to-SQL агент готов! Примеры:")
print("ask('Сколько строк в каждой таблице?')")

СХЕМА ТАБЛИЦ (превью):

CREATE TABLE customers (
	`Customer_ID` VARCHAR(50) NOT NULL,
	`Customer_Name` VARCHAR(255) NOT NULL,
	`Segment` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`Customer_ID`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from customers table:
Customer_ID	Customer_Name	Segment
AA-10315	Alex Avila	Consumer
AA-10375	Allen Armold	Consumer
AA-10480	Andrew Allen	Consumer
*/


CREATE TABLE locations (
	`Postal_Code` INTEGER NOT NULL,
	`City` VARCHAR(100) NOT NULL,
	`State` VARCHAR(100),
	`Country` VARCHAR(100),
	`Region` VARCHAR(50),
	PRIMARY KEY (`Postal_Code`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from locations table:
Postal_Code	City	State	Country	Region
1040	Holyoke	Massachusetts	United States	East
1453	Leominster	Massachusetts	United States	East
1752	Marlborough	Massachusetts	United States	East
*/


CREATE TABLE order_items (
	`Row_ID` INTEGER NOT NULL,
	`Order_ID` VARCHAR(50) NOT NULL,
	`Product_ID` VARCHAR(50) NOT NULL,
	`Sales` DECIMAL(10, 2) NOT NULL,
	`Quantity` INTEGER NOT NULL,
	`Discount` DECIMAL(5, 2) NOT NULL,
	`Profit` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`Row_ID`),
	CONSTRAINT fk_items_order FOREIGN KEY(`Order_ID`) REFERENCES orders (`Order_ID`),
	CONSTRAINT fk_items_product FOREIGN KEY(`Product_ID`) REFERENCES products (`Product_ID`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from order_items table:
Row_ID	Order_ID	Product_ID	Sales	Quantity	Discount	Pro

 AI Text-to-SQL агент готов! Примеры:
ask('Сколько строк в каждой таблице?')

In [5]:
def insight(question: str):
    """
    1) AI генерирует SQL и выполняет его
    2) Смотрим результат
    3) Просим AI кратко объяснить, что показывают данные (инсайт)
    """
    print("\n=== ВОПРОС ДЛЯ ИНСАЙТА ===")
    print(question)

    human_msg = HumanMessage(content=question)
    sql_response = llm.invoke([system_msg, human_msg])
    sql = sql_response.content.strip()

    print("\n=== СГЕНЕРИРОВАННЫЙ SQL ===")
    print(sql)

    # Выполним только первый statement для простоты
    stmt = sql.split(";")[0].strip()
    try:
        result = db.run(stmt)
        print("\n=== РЕЗУЛЬТАТ SQL ===")
        print(result)
    except Exception as e:
        print("\n!!! ОШИБКА SQL !!!")
        print(e)
        return

    explain_prompt = f"""
    Вот SQL запрос:
    {stmt}

    Вот его результат:
    {result}

    Дай, пожалуйста, краткий бизнес-инсайт в 2-3 предложениях:
    - что показывают данные;
    - какой вывод может сделать бизнес;
    - к какому действию это может привести.
    """

    explanation = llm.invoke([HumanMessage(content=explain_prompt)])
    print("\n=== ИНСАЙТ ИИ ===")
    print(explanation.content)
    return explanation.content

In [7]:
# 1) Региональная прибыльность + скидки
db.run("""
CREATE OR REPLACE VIEW vw_regional_profitability AS
SELECT
    l.Region,
    SUM(oi.Sales) AS total_sales,
    SUM(oi.Profit) AS total_profit,
    AVG(oi.Discount) AS avg_discount
FROM Orders o
JOIN Locations l ON o.Postal_Code = l.Postal_Code
JOIN Order_Items oi ON o.Order_ID = oi.Order_ID
GROUP BY l.Region;
""")

# 2) Логистика: Ship Mode, скорость и прибыль
db.run("""
CREATE OR REPLACE VIEW vw_shipping_performance AS
SELECT
    o.Ship_Mode,
    AVG(DATEDIFF(o.Ship_Date, o.Order_Date)) AS avg_delivery_days,
    SUM(oi.Sales) AS total_sales,
    SUM(oi.Profit) AS total_profit
FROM Orders o
JOIN Order_Items oi ON o.Order_ID = oi.Order_ID
GROUP BY o.Ship_Mode;
""")

# 3) Топовые клиенты
db.run("""
CREATE OR REPLACE VIEW vw_customer_revenue AS
SELECT
    c.Customer_ID,
    c.Customer_Name,
    c.Segment,
    SUM(oi.Sales) AS total_sales,
    SUM(oi.Profit) AS total_profit,
    COUNT(DISTINCT o.Order_ID) AS total_orders
FROM Customers c
JOIN Orders o ON c.Customer_ID = o.Customer_ID
JOIN Order_Items oi ON o.Order_ID = oi.Order_ID
GROUP BY c.Customer_ID, c.Customer_Name, c.Segment;
""")

# 4) Сезонность по подкатегориям
db.run("""
CREATE OR REPLACE VIEW vw_subcategory_sales_trends AS
SELECT
    p.Sub_Category,
    YEAR(o.Order_Date) AS year,
    MONTH(o.Order_Date) AS month,
    SUM(oi.Sales) AS total_sales,
    SUM(oi.Profit) AS total_profit
FROM Orders o
JOIN Order_Items oi ON o.Order_ID = oi.Order_ID
JOIN Products p ON oi.Product_ID = p.Product_ID
GROUP BY p.Sub_Category, YEAR(o.Order_Date), MONTH(o.Order_Date);
""")

print(" VIEW'ы созданы: vw_regional_profitability, vw_shipping_performance, vw_customer_revenue, vw_subcategory_sales_trends")

 VIEW'ы созданы: vw_regional_profitability, vw_shipping_performance, vw_customer_revenue, vw_subcategory_sales_trends

In [10]:
# 0. Базовая проверка
ask("Сколько строк в каждой таблице?")

=== ВОПРОС ===
Сколько строк в каждой таблице?

=== СЫРОЙ SQL ОТ МОДЕЛИ ===
SELECT COUNT(*) FROM customers;
SELECT COUNT(*) FROM locations;
SELECT COUNT(*) FROM order_items;
SELECT COUNT(*) FROM orders;
SELECT COUNT(*) FROM products;
SELECT COUNT(*) FROM raw_superstore;

--- ВЫПОЛНЯЮ ЗАПРОС #1 ---
SELECT COUNT(*) FROM customers

РЕЗУЛЬТАТ:
[(793,)]

--- ВЫПОЛНЯЮ ЗАПРОС #2 ---
SELECT COUNT(*) FROM locations

РЕЗУЛЬТАТ:
[(629,)]

--- ВЫПОЛНЯЮ ЗАПРОС #3 ---
SELECT COUNT(*) FROM order_items

РЕЗУЛЬТАТ:
[(9694,)]

--- ВЫПОЛНЯЮ ЗАПРОС #4 ---
SELECT COUNT(*) FROM orders

РЕЗУЛЬТАТ:
[(4931,)]

--- ВЫПОЛНЯЮ ЗАПРОС #5 ---
SELECT COUNT(*) FROM products

РЕЗУЛЬТАТ:
[(1812,)]

--- ВЫПОЛНЯЮ ЗАПРОС #6 ---
SELECT COUNT(*) FROM raw_superstore

РЕЗУЛЬТАТ:
[(9694,)]

[('SELECT COUNT(*) FROM customers', '[(793,)]'),
 ('SELECT COUNT(*) FROM locations', '[(629,)]'),
 ('SELECT COUNT(*) FROM order_items', '[(9694,)]'),
 ('SELECT COUNT(*) FROM orders', '[(4931,)]'),
 ('SELECT COUNT(*) FROM products', '[(1812,)]'),
 ('SELECT COUNT(*) FROM raw_superstore', '[(9694,)]')]

In [ ]:
# 1. Regional & Product Profitability (Problem 1)
insight("Найди регионы с наименьшей прибылью и покажи, как на неё влияет средняя скидка, используя vw_regional_profitability.")

=== ВОПРОС ДЛЯ ИНСАЙТА ===
Найди регионы с наименьшей прибылью и покажи, как на неё влияет средняя скидка, используя vw_regional_profitability.

=== СГЕНЕРИРОВАННЫЙ SQL ===
SELECT
  T1.Region,
  SUM(T2.Profit) AS Total_Profit,
  AVG(T2.Discount) AS Average_Discount
FROM locations AS T1
INNER JOIN orders AS T3
  ON T1.Postal_Code = T3.Postal_Code
INNER JOIN order_items AS T2
  ON T3.Order_ID = T2.Order_ID
GROUP BY
  T1.Region
ORDER BY
  Total_Profit ASC;

=== РЕЗУЛЬТАТ SQL ===
[('Central', Decimal('40128.95'), Decimal('0.238469')), ('South', Decimal('46036.00'), Decimal('0.145440')), ('East', Decimal('90672.04'), Decimal('0.143179')), ('West', Decimal('106021.47'), Decimal('0.110035'))]

=== ИНСАЙТ ИИ ===
Данные показывают, что регионы с более высокими средними скидками, такие как Центральный, имеют значительно меньшую общую прибыль, в то время как Западный регион наиболее прибылен при самых низких скидках. Это указывает на то, что текущая стратегия скидок в менее прибыльных регионах может негативно влиять на маржу. Бизнесу следует пересмотреть и, возможно, сократить средние скидки в Центральном регионе, чтобы повысить его прибыльность.

'Данные показывают, что регионы с более высокими средними скидками, такие как Центральный, имеют значительно меньшую общую прибыль, в то время как Западный регион наиболее прибылен при самых низких скидках. Это указывает на то, что текущая стратегия скидок в менее прибыльных регионах может негативно влиять на маржу. Бизнесу следует пересмотреть и, возможно, сократить средние скидки в Центральном регионе, чтобы повысить его прибыльность.'

In [12]:

# 2. Shipping & Logistics Optimization (Problem 2)
insight("Используя vw_shipping_performance, определи, какой Ship Mode самый быстрый по доставке и насколько он прибыльный по сравнению с другими.")

=== ВОПРОС ДЛЯ ИНСАЙТА ===
Используя vw_shipping_performance, определи, какой Ship Mode самый быстрый по доставке и насколько он прибыльный по сравнению с другими.

=== СГЕНЕРИРОВАННЫЙ SQL ===
SELECT
  T1.Ship_Mode,
  AVG(DATEDIFF(T1.Ship_Date, T1.Order_Date)) AS Average_Shipping_Days,
  SUM(T2.Profit) AS Total_Profit
FROM orders AS T1
INNER JOIN order_items AS T2
  ON T1.Order_ID = T2.Order_ID
GROUP BY
  T1.Ship_Mode
ORDER BY
  Average_Shipping_Days ASC;

=== РЕЗУЛЬТАТ SQL ===
[('Same Day', Decimal('0.0455'), Decimal('16025.53')), ('First Class', Decimal('2.1812'), Decimal('48778.94')), ('Second Class', Decimal('3.2365'), Decimal('56505.60')), ('Standard Class', Decimal('5.0048'), Decimal('161548.39'))]

=== ИНСАЙТ ИИ ===
Данные показывают, что существует обратная зависимость между скоростью обработки заказа (от даты заказа до даты отгрузки) и общей прибылью. Наибольшую прибыль (~161 тыс.) приносит режим доставки 'Standard Class', который имеет самый долгий средний срок отгрузки (5 дней), в то время как 'Same Day' является самым быстрым (0.05 дня), но наименее прибыльным (~16 тыс.). Бизнесу следует проанализировать причины этой корреляции (например, состав заказов, их стоимость или операционные издержки для разных режимов) и рассмотреть стратегии для увеличения прибыльности быстрых доставок или стимулирования клиентов к выбору более прибыльных стандартных опций.

"Данные показывают, что существует обратная зависимость между скоростью обработки заказа (от даты заказа до даты отгрузки) и общей прибылью. Наибольшую прибыль (~161 тыс.) приносит режим доставки 'Standard Class', который имеет самый долгий средний срок отгрузки (5 дней), в то время как 'Same Day' является самым быстрым (0.05 дня), но наименее прибыльным (~16 тыс.). Бизнесу следует проанализировать причины этой корреляции (например, состав заказов, их стоимость или операционные издержки для разных режимов) и рассмотреть стратегии для увеличения прибыльности быстрых доставок или стимулирования клиентов к выбору более прибыльных стандартных опций."

In [13]:


# 3. High-Value Customers (Problem 3)
insight("Используя vw_customer_revenue, найди топ-10 клиентов по продажам и опиши, что это значит для стратегии работы с клиентами.")

=== ВОПРОС ДЛЯ ИНСАЙТА ===
Используя vw_customer_revenue, найди топ-10 клиентов по продажам и опиши, что это значит для стратегии работы с клиентами.

=== СГЕНЕРИРОВАННЫЙ SQL ===
SELECT
    c.Customer_ID,
    c.Customer_Name,
    SUM(oi.Sales) AS TotalSales
FROM
    customers AS c
JOIN
    orders AS o ON c.Customer_ID = o.Customer_ID
JOIN
    order_items AS oi ON o.Order_ID = oi.Order_ID
GROUP BY
    c.Customer_ID,
    c.Customer_Name
ORDER BY
    TotalSales DESC
LIMIT 10;

=== РЕЗУЛЬТАТ SQL ===
[('SM-20320', 'Sean Miller', Decimal('25043.07')), ('TC-20980', 'Tamara Chand', Decimal('19017.85')), ('RB-19360', 'Raymond Buch', Decimal('15117.35')), ('TA-21385', 'Tom Ashbrook', Decimal('14595.62')), ('AB-10105', 'Adrian Barton', Decimal('14355.61')), ('SC-20095', 'Sanjit Chand', Decimal('14142.34')), ('KL-16645', 'Ken Lonsdale', Decimal('14071.92')), ('HL-15040', 'Hunter Lopez', Decimal('12873.30')), ('SE-20110', 'Sanjit Engle', Decimal('12209.44')), ('CC-12370', 'Christopher Conant', Decimal('12129.08'))]

=== ИНСАЙТ ИИ ===
Данные показывают топ-10 клиентов, которые принесли наибольший доход компании, с Шоном Миллером в качестве лидера по объему продаж. Бизнес может сделать вывод, что эти клиенты являются наиболее ценными и критически важными для выручки. Это должно привести к разработке программ лояльности, персонализированных предложений или улучшенного обслуживания для их удержания и стимулирования дальнейших покупок.

'Данные показывают топ-10 клиентов, которые принесли наибольший доход компании, с Шоном Миллером в качестве лидера по объему продаж. Бизнес может сделать вывод, что эти клиенты являются наиболее ценными и критически важными для выручки. Это должно привести к разработке программ лояльности, персонализированных предложений или улучшенного обслуживания для их удержания и стимулирования дальнейших покупок.'

In [14]:


# 4. Inventory Planning & Forecasting (Problem 4)
insight("Проанализируй vw_subcategory_sales_trends и сделай вывод, в какие месяцы и по каким подкатегориям продажи достигают пика.")

=== ВОПРОС ДЛЯ ИНСАЙТА ===
Проанализируй vw_subcategory_sales_trends и сделай вывод, в какие месяцы и по каким подкатегориям продажи достигают пика.

=== СГЕНЕРИРОВАННЫЙ SQL ===
SELECT
  MONTH(T1.Order_Date) AS SalesMonth,
  T3.Sub_Category,
  SUM(T2.Sales) AS TotalSales
FROM orders AS T1
INNER JOIN order_items AS T2
  ON T1.Order_ID = T2.Order_ID
INNER JOIN products AS T3
  ON T2.Product_ID = T3.Product_ID
GROUP BY
  SalesMonth,
  T3.Sub_Category
ORDER BY
  TotalSales DESC,
  SalesMonth,
  T3.Sub_Category;

=== РЕЗУЛЬТАТ SQL ===
[(12, 'Chairs', Decimal('57429.05')), (11, 'Phones', Decimal('56220.94')), (9, 'Chairs', Decimal('51577.24')), (11, 'Chairs', Decimal('47759.98')), (12, 'Tables', Decimal('39193.27')), (12, 'Phones', Decimal('38816.96')), (9, 'Phones', Decimal('37774.93')), (10, 'Copiers', Decimal('37019.76')), (9, 'Binders', Decimal('36887.53')), (11, 'Storage', Decimal('36194.41')), (3, 'Machines', Decimal('35051.91')), (11, 'Machines', Decimal('33807.32')), (11, 'Tables', Decimal('33182.48')), (12, 'Binders', Decimal('31552.52')), (12, 'Storage', Decimal('29425.12')), (9, 'Storage', Decimal('28872.23')), (3, 'Phones', Decimal('28443.30')), (12, 'Accessories', Decimal('28006.50')), (8, 'Phones', Decimal('27643.53')), (9, 'Machines', Decimal('26385.67')), (10, 'Phones', Decimal('26372.18')), (6, 'Phones', Decimal('26313.71')), (11, 'Accessories', Decimal('25956.74')), (5, 'Chairs', Decimal('25893.83')), (3, 'Copiers', Decimal('25589.72')), (9, 'Accessories', Decimal('24900.35')), (5, 'Phones', Decimal('24361.53')), (10, 'Chairs', Decimal('24170.46')), (7, 'Phones', Decimal('23845.07')), (11, 'Bookcases', Decimal('23561.01')), (9, 'Bookcases', Decimal('23372.53')), (7, 'Chairs', Decimal('23016.36')), (6, 'Chairs', Decimal('21523.38')), (3, 'Chairs', Decimal('21344.34')), (10, 'Tables', Decimal('20222.97')), (8, 'Binders', Decimal('20192.85')), (11, 'Binders', Decimal('19905.66')), (9, 'Tables', Decimal('19625.96')), (11, 'Appliances', Decimal('18969.94')), (12, 'Copiers', Decimal('18799.65')), (4, 'Chairs', Decimal('18526.59')), (5, 'Copiers', Decimal('18399.79')), (8, 'Chairs', Decimal('18339.78')), (4, 'Machines', Decimal('18189.77')), (10, 'Binders', Decimal('17981.84')), (6, 'Storage', Decimal('17930.86')), (8, 'Storage', Decimal('17583.93')), (4, 'Phones', Decimal('17507.44')), (7, 'Accessories', Decimal('17126.43')), (3, 'Tables', Decimal('16913.00')), (8, 'Tables', Decimal('16889.11')), (12, 'Appliances', Decimal('16442.64')), (6, 'Tables', Decimal('16405.02')), (10, 'Storage', Decimal('16002.95')), (11, 'Furnishings', Decimal('15308.82')), (12, 'Machines', Decimal('15209.82')), (11, 'Copiers', Decimal('15149.88')), (4, 'Storage', Decimal('14652.57')), (5, 'Storage', Decimal('14587.62')), (3, 'Storage', Decimal('14116.22')), (3, 'Binders', Decimal('13638.86')), (1, 'Phones', Decimal('13469.32')), (4, 'Binders', Decimal('13229.03')), (6, 'Binders', Decimal('13187.11')), (8, 'Appliances', Decimal('13061.67')), (10, 'Accessories', Decimal('12927.15')), (12, 'Furnishings', Decimal('12751.11')), (8, 'Accessories', Decimal('12376.15')), (7, 'Storage', Decimal('12367.23')), (11, 'Paper', Decimal('12208.36')), (6, 'Machines', Decimal('12182.53')), (1, 'Binders', Decimal('12129.06')), (1, 'Chairs', Decimal('11285.17')), (5, 'Machines', Decimal('11267.73')), (12, 'Bookcases', Decimal('10977.39')), (1, 'Tables', Decimal('10952.09')), (3, 'Supplies', Decimal('10636.75')), (10, 'Machines', Decimal('10613.09')), (12, 'Paper', Decimal('10501.16')), (9, 'Furnishings', Decimal('10389.28')), (9, 'Copiers', Decimal('10319.73')), (9, 'Appliances', Decimal('10193.05')), (7, 'Tables', Decimal('10162.64')), (9, 'Paper', Decimal('9954.81')), (4, 'Tables', Decimal('9913.15')), (7, 'Copiers', Decimal('9779.79')), (5, 'Accessories', Decimal('9613.09')), (5, 'Tables', Decimal('9288.31')), (1, 'Storage', Decimal('9217.80')), (10, 'Appliances', Decimal('9151.58')), (6, 'Bookcases', Decimal('9147.65')), (2, 'Machines', Decimal('8989.93')), (2, 'Phones', Decimal('8984.23')), (5, 'Binders', Decimal('8911.63')), (6, 'Accessories', Decimal('8908.38')), (3, 'Accessories', Decimal('8766.63')), (7, 'Supplies', Decimal('8729.70')), (7, 'Bookcases', Decimal('8588.99')), (10, 'Bookcases', Decimal('8246.95')), (7, 'Binders', Decimal('8084.12')), (4, 'Accessories', Decimal('7951.73')), (2, 'Chairs', Decimal('7582.95')), (5, 'Appliances', Decimal('7525.96')), (6, 'Appliances', Decimal('7479.45')), (3, 'Bookcases', Decimal('7351.92')), (1, 'Machines', Decimal('7214.63')), (7, 'Furnishings', Decimal('6913.86')), (3, 'Appliances', Decimal('6733.61')), (4, 'Furnishings', Decimal('6621.61')), (8, 'Paper', Decimal('6440.38')), (5, 'Bookcases', Decimal('6289.59')), (8, 'Machines', Decimal('6261.51')), (9, 'Supplies', Decimal('6221.44')), (6, 'Paper', Decimal('6211.39')), (4, 'Supplies', Decimal('6209.10')), (5, 'Paper', Decimal('6184.05')), (3, 'Paper', Decimal('6132.93')), (4, 'Appliances', Decimal('6041.78')), (5, 'Furnishings', Decimal('5903.75')), (2, 'Storage', Decimal('5852.26')), (8, 'Copiers', Decimal('5729.90')), (8, 'Bookcases', Decimal('5621.55')), (6, 'Furnishings', Decimal('5534.44')), (1, 'Accessories', Decimal('5477.89')), (2, 'Accessories', Decimal('5369.27')), (1, 'Bookcases', Decimal('5352.37')), (10, 'Furnishings', Decimal('5247.08')), (3, 'Furnishings', Decimal('5098.21')), (2, 'Appliances', Decimal('4932.98')), (10, 'Paper', Decimal('4778.69')), (4, 'Bookcases', Decimal('4720.48')), (12, 'Supplies', Decimal('4332.50')), (1, 'Supplies', Decimal('4314.41')), (2, 'Tables', Decimal('4217.68')), (2, 'Binders', Decimal('4205.51')), (7, 'Paper', Decimal('4118.95')), (7, 'Machines', Decimal('4064.77')), (1, 'Copiers', Decimal('3959.92')), (11, 'Art', Decimal('3954.03')), (4, 'Paper', Decimal('3903.35')), (4, 'Copiers', Decimal('3879.90')), (7, 'Appliances', Decimal('3823.25')), (1, 'Furnishings', Decimal('3820.83')), (9, 'Art', Decimal('3660.37')), (12, 'Art', Decimal('3635.69')), (8, 'Furnishings', Decimal('3180.50')), (1, 'Appliances', Decimal('3176.23')), (11, 'Envelopes', Decimal('2907.13')), (2, 'Paper', Decimal('2711.04')), (4, 'Art', Decimal('2407.18')), (12, 'Envelopes', Decimal('2275.38')), (5, 'Art', Decimal('2230.82')), (6, 'Art', Decimal('2217.70')), (1, 'Paper', Decimal('2211.05')), (7, 'Art', Decimal('2065.95')), (2, 'Furnishings', Decimal('1982.71')), (10, 'Art', Decimal('1923.06')), (11, 'Labels', Decimal('1850.21')), (7, 'Labels', Decimal('1692.00')), (8, 'Art', Decimal('1690.12')), (2, 'Bookcases', Decimal('1649.62')), (3, 'Envelopes', Decimal('1510.17')), (9, 'Envelopes', Decimal('1500.81')), (9, 'Labels', Decimal('1496.30')), (10, 'Envelopes', Decimal('1403.15')), (12, 'Labels', Decimal('1376.04')), (11, 'Supplies', Decimal('1350.15')), (3, 'Art', Decimal('1301.99')), (6, 'Supplies', Decimal('1266.58')), (10, 'Labels', Decimal('1248.47')), (6, 'Labels', Decimal('1207.01')), (2, 'Art', Decimal('1117.51')), (5, 'Envelopes', Decimal('1096.04')), (7, 'Envelopes', Decimal('1068.20')), (5, 'Supplies', Decimal('987.16')), (4, 'Envelopes', Decimal('945.28')), (3, 'Labels', Decimal('940.11')), (1, 'Art', Decimal('914.38')), (6, 'Copiers', Decimal('899.97')), (8, 'Labels', Decimal('876.47')), (5, 'Labels', Decimal('863.12')), (8, 'Supplies', Decimal('810.40')), (10, 'Supplies', Decimal('804.91')), (1, 'Envelopes', Decimal('749.90')), (8, 'Envelopes', Decimal('701.08')), (2, 'Envelopes', Decimal('668.57')), (11, 'Fasteners', Decimal('547.52')), (6, 'Envelopes', Decimal('513.76')), (12, 'Fasteners', Decimal('436.24')), (4, 'Labels', Decimal('430.02')), (9, 'Fasteners', Decimal('404.46')), (10, 'Fasteners', Decimal('325.76')), (2, 'Labels', Decimal('299.89')), (2, 'Supplies', Decimal('289.35')), (4, 'Fasteners', Decimal('258.41')), (8, 'Fasteners', Decimal('243.25')), (1, 'Labels', Decimal('206.66')), (7, 'Fasteners', Decimal('176.55')), (2, 'Fasteners', Decimal('159.32')), (3, 'Fasteners', Decimal('149.62')), (6, 'Fasteners', Decimal('110.54')), (5, 'Fasteners', Decimal('109.30')), (1, 'Fasteners', Decimal('87.66'))]

=== ИНСАЙТ ИИ ===
Данные показывают общие продажи по месяцам и подкатегориям, выявляя, что «Chairs» и «Phones» являются наиболее прибыльными подкатегориями, особенно в последнем квартале года (сентябрь-декабрь). Бизнес может сделать вывод, что эти продукты являются ключевыми драйверами дохода с сильной сезонностью. Это должно привести к стратегическому планированию запасов и целенаправленным маркетинговым кампаниям для «Chairs» и «Phones» в преддверии и во время пикового сезона продаж.

'Данные показывают общие продажи по месяцам и подкатегориям, выявляя, что «Chairs» и «Phones» являются наиболее прибыльными подкатегориями, особенно в последнем квартале года (сентябрь-декабрь). Бизнес может сделать вывод, что эти продукты являются ключевыми драйверами дохода с сильной сезонностью. Это должно привести к стратегическому планированию запасов и целенаправленным маркетинговым кампаниям для «Chairs» и «Phones» в преддверии и во время пикового сезона продаж.'